In [1]:
primes = [2,3,5,7]

In [2]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [3]:
hands = [
    ['J', 'Q', 'K'],
    ['2', '2', '2'],
    ['6', 'A', 'K'], 
] #리스트로 묶고 ,로 구분해주기 []안에 []포함가능 
hands = [['J', 'Q', 'K'], ['2', '2', '2'], ['6', 'A', 'K']]

In [4]:
my_favourite_things = [32, 'raindrops on roses', help]
#리스트안의 값은 숫자형, 문자형, 함수 가능

In [5]:
planets[0]
#첫번째 값을 불러오기

'Mercury'

In [6]:
planets[-1]
#리스트에 마지막 값

'Neptune'

In [7]:
planets[-2]
#마지막에서 두번째 값

'Uranus'

In [8]:
#슬라이싱(Slicing)
planets[0:3]
#첫번째값에서 두번째값 까지 >> 불러올 마지막 숫자는 항상 -1한 번째
planets[:3]
#생략을 하면 무조건 처음부터 가져옴
planets[3:]
#3번째 값부터 마지막까지 다 불러오기

['Mercury', 'Venus', 'Earth']

In [11]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [10]:
planets[1:-1]
#-1에 -1 하면 -2 >> 1번째 값에서 -2값까지

['Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']

In [12]:
#리스트값 변경
planets[3] == 'Malacandra'
planets
#planets의 3번째 값을 Malacandra으로 대체

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [15]:
planets[:3] = ['Mur', 'Vee', 'Ur']
print(planets)
planets[:4] = ['Mercury', 'Venus', 'Earth', 'Mars']
print(planets)

['Mur', 'Vee', 'Ur', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [16]:
#리스트에 함수 적용
#리스트 길이
len(planets)

8

In [17]:
#리스트값 정렬 
sorted(planets) # A-Z

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [18]:
#리스트에 값 모두 더하기 
primes = [2, 3, 5, 7]
sum(primes)

17

In [19]:
x = 12
# x는 실수이므로 허수부는 0
print(x.imag)
# 복소수 만드는 법 
c = 12 + 3j
print(c.imag)

0
3.0

In [21]:
x.bit_length()
#x는 int이기때문에 int의 크기를 반환

4

In [22]:
help(x.bit_length)

Help on built-in function bit_length:

bit_length() method of builtins.int instance
    Number of bits necessary to represent self in binary.

    >>> bin(37)
    '0b100101'
    >>> (37).bit_length()
    6

In [23]:
planets.append('Pluto')
planets
#append >> Pluto를 planets에 추가 >> 마지막에 추가됨

['Mercury',
 'Venus',
 'Earth',
 'Mars',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune',
 'Pluto']

In [24]:
planets.pop()
planets
#pop() >> 마지막에 있는 값부터 리스트에서 나오게 함

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [25]:
planets.index('Earth')
#Earth가 위치해 있는 인덱스값

2

In [26]:
"Earth" in planets
#planets에 Earth가 있나요? >> t/f

True

In [27]:
"Calbefraques" in planets

False

### 튜플 (tuple)

In [28]:
#튜플은 항상 고정 값이다 
#튜플의 값은 변경이 불가 
t = (1,2,3)

In [29]:
t = 1, 2, 3 #튜플형식
t

(1, 2, 3)

In [30]:
x = 0.125
x.as_integer_ratio()
# as_integer_ratio() >> 분모와 분자를 반환

(1, 8)

In [32]:
numerator, denominator = x.as_integer_ratio()
print(numerator / denominator)
#numerator 분자 / denominator 분모

0.125

In [33]:
a = 1
b = 0
a, b = b, a
print(a, b)

0 1