In [1]:
#문자열 
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [2]:
print("Pluto's a planet!")
print('My dog is named "Pluto"')
#아포스트로피 표시가 있으면 문자열 전체를 ""로 묶는게 편리하다

Pluto's a planet!
My dog is named "Pluto"

In [3]:
'Pluto\'s a planet!'

# \를 이용하여 나타내도 됨

"Pluto's a planet!"

In [4]:
hello = "hello\nworld" # \n >> 줄바꿈
print(hello)

hello
world

In [7]:
# """ [문자]""" >> 삼중 따옴표구문을 사용하면 그대로 개행 문자를 포함 할수 있다 
triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world

True

In [8]:
print("hello")
print("world")
print("hello", end='')
print("pluto", end='')
#print() 함수는 키워드 인수 end에 
#기본값 '\n' 이외의 값을 지정하지 않는 한 자동으로 개행 문자를 추가

hello
world
hellopluto

In [9]:
# Indexing
planet = 'Pluto'
planet[0]
#문자열도 인덱싱 가능

'P'

In [10]:
# Slicing
planet[-3:]

'uto'

In [11]:
len(planet)

5

In [12]:
[char + "!" for char in planet]

['P!', 'l!', 'u!', 't!', 'o!']

In [14]:
# planet[0] = 'B'
#TypeError: 'str' object does not support item assignment
# 리스트와 다르게 변경은 불가능

In [18]:
claim = "Pluto is a planet!"
print(claim.upper()) # 대문자로 변경
print(claim.lower()) # 소문자로 변경
print(claim.index('plan')) # 띄어쓰기도 인덱스로 셀수 있다 
print(claim.startswith(planet)) # planet안에있는 단어로 시작 함
print(claim.endswith('planet')) # !가 없어서 False

PLUTO IS A PLANET!
pluto is a planet!
11
True
False

In [19]:
words = claim.split() # 기본 공백을 기준으로 나누기
words

['Pluto', 'is', 'a', 'planet!']

In [21]:
datestr = '1956-01-31'
year, month, day = datestr.split('-') # -를 기준으로 단어 나눔
print(year)
print(month)
print(day)

1956
01
31

In [22]:
'/'.join([month, day,year])
#각 변수사이에 /를 넣어서 join

'01/31/1956'

In [23]:
' 👏 '.join([word.upper() for word in words])

'PLUTO 👏 IS 👏 A 👏 PLANET!'

In [26]:
planet + ', we miss you'
# + 연산자를 사용하여 문자열을 연결

'Pluto, we miss you'

In [27]:
#문자끼리 연결할수 있음 
position = 9
# planet + ", you'll always be the " + position + "th planet to me."
planet + ", you'll always be the " + str(position) + "th planet to me."
#숫자를 문자타입으로 바꿔주면 실행 가능

"Pluto, you'll always be the 9th planet to me."

In [28]:
"{}, you'll always be the {}th planet to me.".format(planet, position) 
# format 함수를 써서 들어갈 곳을 {}으로 표시하여 format()안에 넣을값 입력

"Pluto, you'll always be the 9th planet to me."

In [31]:
pluto_mass = 1.303 * 10**22
earth_mass = 5.9722 * 10**24
population = 52910390

"{} weighs about {:.2} kilograms ({:.3%} of Earth's mass). It is home to {:,} Plutonians.".format(
    planet, pluto_mass, pluto_mass / earth_mass, population,
)

"Pluto weighs about 1.3e+22 kilograms (0.218% of Earth's mass). It is home to 52,910,390 Plutonians."

In [32]:
s = """Pluto's a {0}.
No, it's a {1}.
{0}!
{1}!""".format('planet', 'dwarf planet')
print(s)

# format()함수에 들어있는 값의 위치 값 0, 1 로 넣을 곳에 넣어 불러올수있다

Pluto's a planet.
No, it's a dwarf planet.
planet!
dwarf planet!

### 딕셔너리

In [35]:
num = {'one' : 1, 'two':2,'three':3}
num
# 딕셔너리는 {}표시하고 {key:value}값으로 이루어져있다.

{'one': 1, 'two': 2, 'three': 3}

In [36]:
num['one'] # one이라는 key값을 부르면 one에 해당하는 value값을 반환한다

1

In [38]:
num['eleven'] = 11 # 딕셔너리에 새로운 키를 추가할수 있다. 
num

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

In [40]:
num['one'] = 'Pluto' # value값 변경 가능 
num

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [41]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planet_to_initial = {planet:planet[0] for planet in planets}
# planets안에 있는 단어에서 0번째 글짜를 출력 

planet_to_initial

{'Mercury': 'M',
 'Venus': 'V',
 'Earth': 'E',
 'Mars': 'M',
 'Jupiter': 'J',
 'Saturn': 'S',
 'Uranus': 'U',
 'Neptune': 'N'}

In [43]:
num

{'one': 'Pluto', 'two': 2, 'three': 3, 'eleven': 11}

In [42]:
for k in num:
    print("{} = {}".format(k, num[k]))
# num에 있는 각 key와 value를 출력

one = Pluto
two = 2
three = 3
eleven = 11

In [44]:
' '.join(sorted(planet_to_initial.values()))
# planet_to_initial.values() >> value값들을 출력

'E J M M N S U V'

In [46]:
for planet, initial in planet_to_initial.items():
    print("{}은 \"{}\"으로 시작한다".format(planet.rjust(10), initial))
# planet_to_initial.items() >> 각 key에 해당하는 value를 묶어서 출력 ex) (Mercury : M), (Venus : V)
#rjust(10) >> 문자열을 오른쪽으로 정렬

   Mercury은 "M"으로 시작한다
     Venus은 "V"으로 시작한다
     Earth은 "E"으로 시작한다
      Mars은 "M"으로 시작한다
   Jupiter은 "J"으로 시작한다
    Saturn은 "S"으로 시작한다
    Uranus은 "U"으로 시작한다
   Neptune은 "N"으로 시작한다